.button_actions {
    display: block;
    float: left;
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 25px
}

@media (max-width: 1199px) and (min-width: 992px) {
    .button_actions {
        margin-top: 15px
    }
}

@media (max-width: 767px) {
    .button_actions {
        margin-top: 15px
    }
}

.button_actions .btn_base {
    height: 45px;
    line-height: 45px;
    font-family: "Arial", sans-serif;
    color: #ef4339;
    font-weight: 400;
    text-decoration: none;
    background: #ffeceb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border: solid 1px #ef4339;
    font-weight: 400;
    float: left;
    width: calc(100% / 2 - 4px)
}

.button_actions .btn_base:disabled {
    padding: 0 40px !important;
    margin-right: 0px
}

.button_actions .btn_base:disabled:before {
    display: none
}

.button_actions .btn_base:first-child {
    margin-right: 8px;
    padding: 0 40px 0 66px
}

.button_actions .btn_base:first-child:before {
    content: "";
    height: 20px;
    width: 22px;
    background-image: url(//bizweb.dktcdn.net/100/397/652/themes/809936/assets/i_addcart.png?1614400355228);
    background-size: contain;
    background-repeat: no-repeat;
    top: 11px;
    left: 10px;
    /*42px*/
    position: absolute
}

@media (min-width: 992px) and (max-width: 1199px) {
    .button_actions .btn_base:first-child:before {
        left: 28px
    }
}

.button_actions .btn_base:first-child:hover:before {
    content: "";
    height: 20px;
    width: 22px;
    background-image: url(//bizweb.dktcdn.net/100/397/652/themes/809936/assets/i_addcart_h.png?1614400355228);
    background-size: contain;
    background-repeat: no-repeat;
    top: 11px;
    left: 10px;
    /*42px*/
    position: absolute
}

@media (min-width: 992px) and (max-width: 1199px) {
    .button_actions .btn_base:first-child:hover:before {
        left: 28px
    }
}

.button_actions .btn_base:hover {
    color: #fff;
    background: #ef4339;
    cursor: pointer;
    border-color: #ef4339
}

.button_actions .btn_base.fast {
    background: #ef4339;
    color: #fff
}

@media (max-width: 767px) {
    .button_actions .btn_base.fast {
        margin-top: 15px
    }
}

.button_actions .btn_base.fast:hover {
    color: #fff;
    background: #e31e12;
    cursor: pointer;
    border-color: #ef4339
}

@media (max-width: 767px) {
    .button_actions .btn_base {
        width: 100%
    }
}

.button_actions .btn_add_cart {
    position: relative
}

.button_actions .btn_add_cart .text_1 {
    position: relative
}

.form-group .custom-btn-number {
    float: left;
    width: 100%;
    margin-top: 20px
}

.form-group .custom-btn-number .sl {
    font-weight: 700;
    display: inline-block;
    float: left;
    line-height: 35px;
    margin-right: 20px;
    font-size: 16px
}

.form-group .input_number_product {
    display: inline-flex;
    width: 100px;
    height: 35px;
    min-height: 35px;
    position: relative;
    background: transparent;
    padding: 0;
    border: 0;
    margin: 0
}

.form-group .input_number_product .btn_num {
    font-size: 16px;
    line-height: 0px;
    display: inline-block;
    border: 0;
    width: 30px;
    height: 35px;
    background: transparent;
    float: left;
    color: #6e7874;
    text-align: center;
    padding: 0px;
    padding-right: 0px;
    line-height: 0px;
    position: absolute;
    outline: none
}

.form-group .input_number_product .btn_num .fas {
    font-size: 10px;
    font-weight: 900;
    color: #989697
}

.form-group .input_number_product .btn_num.num_1 {
    left: 0;
    top: 0;
    border-right: 1px solid #e4e4e4
}

.form-group .input_number_product .btn_num.num_2 {
    right: 0;
    top: 0;
    border-left: 1px solid #e4e4e4
}

.form-group .input_number_product .btn_num:hover {
    cursor: pointer
}

.form-group .input_number_product input {
    display: block;
    float: left;
    color: #231f20;
    height: 35px;
    min-height: 35px;
    border: 1px solid #e4e4e4;
    width: 100px;
    text-align: center;
    box-shadow: none;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    border-radius: 3px
}

.form-product {
    padding: 0px;
    margin-bottom: 17px
}

.form-product .form-group {
    width: 100%
}

.form-product .form-group header {
    width: 85px;
    float: left;
    line-height: 40px;
    font-size: 14px;
    color: #636363
}

.form-product form {
    margin-bottom: 15px
}

.specifications {
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
    position: relative
}

.specifications:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background: #ef4339;
    top: -2px;
    left: 0
}

.specifications .fs-dttop {
    padding-bottom: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase
}

.specifications .fs-tsright ul {
    padding: 0
}

.specifications .fs-tsright ul li {
    display: table;
    width: 100%;
    padding: 5px 0;
    font-size: 13px
}

.specifications .fs-tsright ul li label {
    width: 102px;
    color: #616161;
    padding-right: 6px;
    display: table-cell !important;
    vertical-align: top;
    font-weight: normal
}

.specifications .fs-tsright ul li span {
    color: #3d3d3d;
    display: table-cell;
    vertical-align: top
}

.specifications button.btn-primary {
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #ef4339;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #ef4339;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px
}

.specifications button.btn-primary:hover,
.specifications button.btn-primary:focus {
    color: #fff;
    border: solid 1px #ef4339;
    background-color: #ef4339
}

@media (min-width: 767px) {
    .specifications .modal-dialog {
        max-width: 550px
    }
}

.specifications .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff
}

.specifications .modal-header .modal-title {
    padding: 0;
    min-height: unset;
    color: #404040;
    font-size: 18px;
    line-height: normal;
    margin: 0
}

.specifications .modal-header .close {
    z-index: 2;
    position: absolute;
    right: 10px
}

.specifications .modal-body ul {
    padding: 0
}

.specifications .modal-body ul li {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb
}

.specifications .modal-body ul li label {
    width: 180px;
    display: table-cell !important;
    vertical-align: middle;
    line-height: 18px;
    font-weight: 500
}

@media (max-width: 480px) {
    .specifications .modal-body ul li label {
        width: 150px
    }
}

.details-pro .swatch {
    padding: 10px 0 0px
}

.details-pro .swatch:first-child {
    border-bottom: none;
    padding: 15px 0 0px
}

@media (max-width: 767px) {
    .details-pro .button_actions {
        margin-top: 15px
    }
}

.details-pro .form_button_details {
    float: left
}

@media (max-width: 767px) {
    .details-pro .form_button_details {
        margin-bottom: 30px
    }
}

.details-pro .form-product {
    padding-top: 0px;
    width: 100%;
    float: left
}

@media (max-width: 767px) {
    .details-pro .form-product {
        margin-bottom: 50px
    }
}

.details-pro .form-product .swatch .header {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #231f20;
    font-weight: 700;
    text-transform: none
}

.details-pro .reviews_details_product {
    margin: 0px 10px 0 0;
    float: left;
    display: block;
    text-align: center
}

@media (max-width: 767px) {
    .details-pro .reviews_details_product {
        width: 100%;
        float: left
    }
}

.details-pro .reviews_details_product .bizweb-product-reviews-badge {
    margin: 0px auto;
    padding: 0px;
    float: left
}

.details-pro .reviews_details_product .bizweb-product-reviews-badge .bizweb-product-reviews-star i {
    font-size: 13px
}

.details-pro .reviews_details_product .bizweb-product-reviews-badge .bizweb-product-reviews-star .star-off-png:before {
    content: "\f005";
    color: #ebebeb
}

.details-pro .reviews_details_product .bizweb-product-reviews-badge .bizweb-product-reviews-star .star-on-png:before {
    content: "\f005";
    color: #ffd200
}

.details-pro .reviews_details_product .bizweb-product-reviews-badge .bizweb-product-reviews-star .star-half-png:before {
    content: "\f005";
    color: #ffd200
}

.details-pro .reviews_details_product .bizweb-product-reviews-badge div img {
    display: none
}

.details-pro .reviews_details_product .bizweb-product-reviews-badge div p {
    font-size: 13px;
    color: #7b7b7b
}

.details-pro .first_status.status_2 {
    display: block;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 0;
    height: 56px;
    line-height: 56px;
    padding: 0 20px;
    background: #ef4339;
    color: #fff
}

@media (max-width: 767px) {
    .details-pro .first_status.status_2 {
        display: none
    }
}

.details-pro .product-summary {
    padding: 0 0 0px;
    width: 100%;
    float: left
}

.details-pro .product-summary .rte {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #827377;
    line-height: 24px;
    font-weight: 400
}

.details-pro .product-summary .rte p {
    margin: 0
}

.details-pro .product-summary .rte ul,
.details-pro .product-summary .rte ol {
    padding-left: 20px
}

.details-pro .product-summary .rte {
    font-size: 14px;
    color: #231f20;
    line-height: 22px
}

.details-pro .product-summary .rte img {
    display: none
}

.details-pro .form_product_content {
    width: 100%;
    float: left
}

@media (max-width: 767px) {
    .details-pro .form_product_content .button_actions {
        display: block;
        width: 100%
    }
}

.details-pro .form_product_content label {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: inline-block;
    float: left;
    line-height: 35px;
    margin-right: 20px;
    font-size: 14px
}

.details-pro .tagslist {
    margin-top: 20px;
    width: 100%;
    float: left
}

.details-pro .tagslist label {
    font-weight: 700
}

.details-product .large-image {
    text-align: center;
    width: 100%
}

.details-product .large-image a {
    display: block;
    border: none
}

.details-product .large-image a img {
    margin: 0 auto
}

.details-product .tab_h {
    display: block;
    width: 100%;
    float: left;
    margin-top: 50px
}

@media (max-width: 991px) and (min-width: 768px) {
    .details-product .tab_h {
        margin-bottom: 0
    }
}

@media (max-width: 767px) {
    .details-product .tab_h {
        margin-top: 25px;
        padding-bottom: 0;
        margin-bottom: 0
    }
}

@media (max-width: 767px) {
    .details-product .details-pro {
        margin-top: 0px
    }
}

.details-product .details-pro .product-price {
    font-size: 30px;
    color: #ef4339;
    font-weight: 700;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    display: inline-block
}

.details-product .details-pro .price-box {
    margin: 0px 0 5px;
    width: 100%;
    float: left;
    position: relative
}

.details-product .details-pro .price-box .special-price {
    float: left;
    width: 100%;
    margin-bottom: 10px
}

.details-product .details-pro .price-box .old-price {
    font-size: 16px
}

.details-product .details-pro .price-box .save-price {
    font-size: 16px;
    color: #66bd41;
    margin-left: 65px
}

@media (max-width: 767px) {
    .details-product .details-pro .price-box .save-price {
        display: block;
        margin-left: 0px
    }
}

.details-product .details-pro .inventory_quantity {
    font-size: 16px
}

.details-product .details-pro .inventory_quantity .a0,
.details-product .details-pro .inventory_quantity .a1,
.details-product .details-pro .inventory_quantity .a2 {
    color: #66bd41
}

.title_p {
    width: 100%;
    margin: 0px 0 30px;
    padding: 20px 0 5px;
    display: inline-block;
    border-bottom: 1px solid #e4e4e4
}