body {
    margin: 0;
    /* padding-top: 140px; */
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}

.container {
    padding: 100px 0px;
}


/* @media screen and (max-width: 990px) {
    body {
        margin: 0;
        padding-top: 30px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }
} */

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account-settings .about p {
    font-size: 0.825rem;
}


/*form*/

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}


/*animation by hieu*/

.back {
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.back:hover i {
    transform: translateX(-10px);
    transition: linear 0.3s;
}

.back i {
    transform: translateX(0%);
    transition: linear 0.3s;
}

#de {
    /* opacity: 1; */
    height: auto;
    transform: translateX(0px);
    transition: transform 0.4s linear;
}

#de.hidden {
    /* opacity: 0; */
    position: fixed;
    height: 0;
    transform: translateX(2000px);
    transition: transform 0.5s linear;
}